h1 {
    color: orange;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
    background-color: black;
    padding: 10px;
}

p.title {
    font-size: 24px;
    font-weight: bold;
    color: yellow;
    justify-content: center;
}

p.intro {
    font-size: 18px;
    color: whitesmoke;
}

p.maingoal {
    font-size: 20px;
    font-style: italic;
    color: darkgreen;
}

p.ending {
    font-size: 18px;
    text-decoration: underline;
    color: darkred;
}

body {
    background-color: grey;
}
