/*.heading-1 {
    color: tomato;
}
*/
#heading-one {
    color: teal;
}

.header-container {
    color: goldenrod;
    border: 5px solid darkred;
    padding-top: 5px;
    padding-bottom: 7px;
    padding-left: 8px;
    padding-right: 6px;
}

.post {
    color: #f00;
    border: 3px dashed sienna;
}

.post p {
    color: blue;
}

.post__title {
    text-decoration: underline;
    color: purple;
}

.post__text {
    color: yellow;
}

.post__disclaimer{
    color:grey;
    
}